{% extends 'base.html' %}
{% load static %}

{% block head %}<link rel="stylesheet" href="{% static 'styles/acticles.css' %}">{% endblock head %}
{% block title %}Freshman Help{% endblock title %}

{% block main %}
    <main class="main">
        <div class="main__header">
            <h1>Статьи и памятки</h1>
        </div>
        <section class="main__articles">
            {% for article in articles %}
            <article class="article__card">
                <a href="{% url 'article_detail' article.id %}">
                    <div class="article__content">
                        <div class="article__name">
                            <h4>{{ article.title }}</h4>
                        </div>
                        <div class="article__desc">
                            
                        </div>
                    </div>
                </a>
            </article>
            {% endfor %}
            <article class="article__card">
                <div class="article__content">
                    <div class="article__name">
                        <h4>РОП, тьютор и наставник, в чём отличие?</h4>
                    </div>
                    <div class="article__desc">
                        <p>Расскажем к кому идти с любым вопросом</p>
                    </div>
                </div>
            </article>
            <article class="article__card">
                <div class="article__content">
                    <div class="article__name">
                        <h4>РОП, тьютор и наставник, в чём отличие?</h4>
                    </div>
                    <div class="article__desc">
                        <p>Расскажем к кому идти с любым вопросом</p>
                    </div>
                </div>
            </article>
            <article class="article__card">
                <div class="article__content">
                    <div class="article__name">
                        <h4>РОП, тьютор и наставник, в чём отличие?</h4>
                    </div>
                    <div class="article__desc">
                        <p>Расскажем к кому идти с любым вопросом</p>
                    </div>
                </div>
            </article>
            <article class="article__card">
                <div class="article__content">
                    <div class="article__name">
                        <h4>РОП, тьютор и наставник, в чём отличие?</h4>
                    </div>
                    <div class="article__desc">
                        <p>Расскажем к кому идти с любым вопросом</p>
                    </div>
                </div>
            </article>
            <article class="article__card">
                <div class="article__content">
                    <div class="article__name">
                        <h4>РОП, тьютор и наставник, в чём отличие?</h4>
                    </div>
                    <div class="article__desc">
                        <p>Расскажем к кому идти с любым вопросом</p>
                    </div>
                </div>
            </article>
        </section>
    </main>
{% endblock main %}