{% extends 'base.html' %}
{% load static %}

{% block head %}<link rel="stylesheet" href="{% static 'styles/employment.css' %}">{% endblock head %}
{% block title %}Трудоустройство{% endblock title %}

{% block main %}
    <main class="main main__container">
    <div class="main__header">
        <h1>Трудоустройство</h1>
    </div>
    <section class="main__block _filters">
        <form action="{% url 'employment' %}" method="get">
            <select name="specialization">
                <option value="">Все специализации</option>
                {% for specialization in specializations %}
                    <option value="{{ specialization.name }}" {% if selected_specialization == specialization.name %}selected{% endif %}>{{ specialization.name }}</option>
                {% endfor %}
            </select>
            <input type="submit" value="Фильтровать">
        </form>
    </section>
    <section class="main__vacancies">
        {% for vacancy in vacancies %}
            <div class="main__block">
                <h3>{{ vacancy.title }}</h3>
                <span class="salary">{% if vacancy.salary %}От {{ vacancy.salary }} руб. 
                                        {% else %} Зарплата не указана
                                    {% endif %}
                </span>
                <p>{% if vacancy.description %}{{ vacancy.description|striptags }} {% else %} Нет описания {% endif %}</p>
                <p><a href="{{ vacancy.url }}">Открыть вакансию</a></p>
            </div>
        {% endfor %}
    </section>
</main>
{% endblock main %}