{% extends 'base.html' %}
{% load static %}

{% block title %}Трудоустройство{% endblock title %}

{% block main %}
    <main class="main main__container">
        <div class="main__header">
            <h1>Трудоустройство</h1>
        </div>
        <section class="main__vacancies">
            {% for vacancy in vacancies %}
                <div class="main__block">
                    <h3>{{ vacancy.title }}</h3>
                    <p>{{ vacancy.description }}</p>
                    <!-- Остальные поля вакансии -->
                </div>
            {% endfor %}
        </section> 
    </main>
{% endblock main %}